@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display+SC&display=swap');
$primary-color :#0057ff ;
$secondary-color:hsl(197, 100%, 22%);
$primary-font : Helvetica, Arial, sans-serif;
$secondary-font :'Playfair Display SC', serif;
$third-font:'Montserrat, sans-serif';
$primary-size : 1em;